# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# dotenv environment variables file
.env
.env*.local

# Firebase
/src/firebase/admin-config.ts
*.log

# Mac
.DS_Store
*.pem
