rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match any file path that starts with "resumes/" followed by a user ID
    match /resumes/{userId}/{allPaths=**} {
      // Allow create, read, update, and delete operations if the user is authenticated
      // and the `userId` in the path matches the authenticated user's UID.
      // This ensures users can only access their own resume folder.
      allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
